/* This file is provided by Debian as an replacement to
 *   https://fonts.googleapis.com/css?family=Lato|Roboto+Mono
 * MIT License, 2018, Mo Zhou <cdluminate@gmail.com>
 */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
       local('Lato-Regular'),
	   url(file:///usr/share/fonts/truetype/lato/Lato-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'),
	   url(file:///usr/share/fonts/truetype/inconsolata/Inconsolata.otf) format('opentype');
}
